.commonmap {
    position: absolute;
    width: 100%;
    background: none;
    top:0;
    left: 0;
    z-index: 1;
}


.indexPage{
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.mainmap{
    flex-grow: 1;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.mainmap .maindata{
    z-index: 1400;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.mainmap .maindata ul{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(180deg, #1191d2, #065ec7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.mainmap .maindata ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
    flex-grow: 1;
    color: #FFF;
    font-size: 12px;
    padding: 10px 0;
}
.mainmap .maindata ul li span{
    line-height: 30px;
}
.mainmap .maindata ul li span:last-child{
    font-size: 14px;
    font-weight: 600;
}
.mainmap .maindata ul li img{
    width: 30px;
}
.mainmap .mapcanver{
    position: absolute;
    z-index: 10001;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #1297d2, #027db7);
    color: #FFF;
    height: 40px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
    padding-right: 15px;
    min-width: 120px;
}
.mainmap .mapcanver.point{
    top: 55px;
    left: 10px;
}
.mainmap .mapcanver img{
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}
.mainmap .mapcanver span{
    display: block;
    flex-grow: 1;
}
/* 通用样式、头部 */
h1, h2, h3, h4, h5, h6, p{
    margin:0px !important;
    padding:0px !important;
}
.fontSize13{
    font-size: 13px;
}
.fontSize14{
    font-size: 14px;
}
.clearfix{
    clear: both;
}
/* 头部 tittle */
.ant-layout-header {
    background: #008c7a !important;
    padding: 0 15px !important;
    color:#fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.ant-layout-header span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.ant-layout-header button{
    background: transparent !important;
    border-color: transparent !important;
    color:#fff;
    margin-left:40px;
}

/* 底部 page-number */
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    border: 1px solid #008c7a !important;
    background-color: #009b87 !important;
}
.ant-pagination-item {
    border: 1px solid #008c7a !important;
    background-color: #009b87 !important;
}
.ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link ,.ant-pagination-prev a, .ant-pagination-next a {
    border-color: #d9d9d9;
    color: #fff !important;
}
.ant-pagination-item a {
    color: #fff !important;
}
.ant-pagination-item-active a {
    color: #fff !important;
}
.ant-pagination-item-active {
    border-color: #ac6a00 !important;
    background-color: #f39800 !important;
}
/* 首页 */
.module-box{
    width: 25%;
    float: left;
    padding: 10px 10px 0px 0px;
    background-color: #fff;
}
.module{
    background-color: #e6ebec;
}
.module-box Button{
    float: right;
}
.module-box:nth-child(4n+1){
    padding: 10px 10px 0px 10px;
}
.module-top,.moduleTop h2,.moduleTop h2 span{
    color:#fff;
} 
.module-top{
    padding:7px 10px;
    background-color: #009b87;
} 
.module-top h2{
    font-size:15px;
    color:#fff;
} 
.module-top h2 span{
    font-size:17px;
    margin-left: 10px;
} 
.ant-btn-details {
    padding: 0;
    font-size: 14px;
    height:19px;
    line-height:19px;
    color: #fff !important;
    background-color: transparent !important;
    border-color:transparent !important;
}
.module-bottom{
    padding:7px 10px;
    color:#666;
} 
.module-bottom .state{
    padding:0px 3px;
    border-radius: 3px;
    color:#fff;
    background-color: #009b87;
    margin-right: 4px;
} 
.ant-btn-assess {
    padding: 0;
    font-size: 14px;
    height: 19px;
    line-height:19px;
    color: #008c7a;
    background-color: transparent;
    border-color:transparent;
}
.ant-pagination {
    text-align: center;
    padding:20px 0px !important;
    background-color: #fff;
}

